.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Content-InteractiveImageDescription-Container{
    background-color: black;
    position: relative;
    width: 70%;
    margin-top: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
.Content-InteractiveImageDescription-Container-Background{
    opacity: 100%;
    transition: 1s;
    width: 100%;
    border-radius: 30px;
}
.Content-BusinessValues-Container-Item p{
    font-family: sans-serif;
    padding: 0 48px;
    text-align: center;
}
.Content-InteractiveImageDescription-Container-Header-front{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: 'Tommy personal use';
    color: white;
    font-size: 5rem;
    text-align: center;
    opacity: 100%;
    transition: 1s;
    margin: 0 0 0 0;
    width: 90%;
    font-size: 4rem;
}
.Content-Separator{
    width: 80%;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 0.6rem;
    background-image: linear-gradient( #913611 , #3a1101);
}

.Content-BusinessValues-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.Content-BusinessValues-Container-Item{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.Content-BusinessValues-Container-Item-Icon{
    width: 38%;
}
.Content-BusinessValues-Container-Item-Text{
    text-align: center;
    color: #3a1101;
    font-family: 'Tommy personal use';
}
.Content-InteractiveImageDescription-Container:hover  .Content-InteractiveImageDescription-Container-Background{opacity: 50%;}
.Content-InteractiveImageDescription-Container:hover .Content-InteractiveImageDescription-Container-Header-front{opacity: 0%;}
.Content-InteractiveImageDescription-Container:hover .Content-InteractiveImageDescription-Container-Text{opacity: 100%;}
.Content-InteractiveImageDescription-Container-Text{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: 'Tommy personal use';
    color: white;
    opacity: 0%;
    transition: 1s;
    text-align: justify;
    width: 90%;
    font-size: 1rem;
    margin: 0 0 0 0;
}
@media only screen and (max-width: 600px) {
    .Content-InteractiveImageDescription-Container-Text{
        font-size: 0.7rem;
        top: 50%;
        margin: 0 0 0 0;
    }
    .Content-InteractiveImageDescription-Container-Header-front{
        font-size: 2rem;
    }
    .Content-BusinessValues-Container{
        flex-direction: column;
    }
}
@media only screen and (min-width: 950px) {
    .Content-InteractiveImageDescription-Container-Text{
        font-size: 1.5rem;
        top: 50%;
        margin: 0 0 0 0;
    }
}

@font-face {
    src: url(../Fonts/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
    font-family: 'Tommy personal use';
}