.logo{
    width: 103px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #2a0c00;
    align-items: center;
}
.header-imagen{
    filter: invert(100%);
}

.interior-header{
    margin-right: 28px;
}

.interior-header img{
    margin: 0 15px;
}

.barras-menu{
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .interior-header img{
        margin: 0 8px;
    }
}