body {
    margin: 0 0 0 0;
}

.Header-Logo {
    width: 9rem;
    margin: auto;
}

.Header {
    display: flex;
    justify-content: space-between;
    background-color: #3a1101;
    align-items: center;
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.Header-Imagen {
    height: 2rem;
    width: auto;
}

.Header-Item-Left-Container {
    display: flex;
    justify-content: left;
    width: 9rem;
    height: 100%;
    margin-left: 3rem;
    position: relative;
}

.Header-Image-Usericon {
    border-radius: 30px;
}

.Header-Item-Right-Container {
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9rem;
}

.Header-Imagen-Bandera {
    border-radius: 30px;
}

.Header-Item-Left-Container-Dropbutton {
    font-size: 16px;
    border: none;
    background-color: transparent;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Header-Item-Left-Container-Dropbutton-Content {
    display: none;
    position: absolute;
    left: 0rem;
    top: 100%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.Header-Item-Left-Container-Dropbutton-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
@media only screen and (max-width: 600px) {
    .Header-Item-Right-Container {
        width: 6rem;
    }
}