.Content-ShoppingCart-Title {
  font-family: "Tommy personal use";
  text-align: center;
  color: #3a1101;
  margin-bottom: 0.5rem;
}
.Content-Payment-List {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.577);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-height: 10rem;
  max-height: 10rem;
}
.Content-ShoppingCart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.Content-ShoppingCart-Receipt-Line-container {
  min-height: 10rem;
}
.Content-tramitation-Container {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
}
.Content-Payment-List-Item-Info-Payment {
  width: 35%;
  font-size: 1rem;
  font-family: "Tommy personal use";
  overflow: hidden;
}
.Content-Payment-List-Item-Info {
  font-size: 1rem;
  font-family: "Tommy personal use";
  width: 20%;
  overflow: hidden;
}
.Content-tramitation {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.background2 {
  margin: 0 0 0 0;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.Content-tramitation-Container-Submit {
  margin-top: 1rem;
  background-color: white;
  font-family: "Tommy personal use";
  border-radius: 30px;
  width: 50%;
  height: 4rem;
  font-size: 2rem;
  border: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
  margin-top: 5rem;
  transition: 1s;
  background-color: #00abbb;
  color: white;
}
.Content-tramitation-Container-Submit:hover {
  width: 60%;
}
.cursor {
  cursor: pointer;
}

.Content-Payment-List-Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;
}
.Content-Payment-List-Item:hover {
  background-color: rgba(0, 0, 0, 0.062);
}
.Content-ShoppingCart-Receipt {
  width: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  height: min-content;
}

.Content-ShoppingCart-ProductsList {
  background-color: white;
  display: flex;
  width: 60%;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-height: 20rem;
  padding-right: 0.5rem;
}

.Content-ShoppingCart-ProductsList-Item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Tommy personal use";
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.Content-ShoppingCart-ProductsList-Item:hover {
  background-color: rgba(0, 0, 0, 0.086);
}

.Content-ShoppingCart-ProductsList-Item-Image {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
}

.Content-ShoppingCart-ProductsList-Item-Name {
  font-size: medium;
  margin-right: auto;
  overflow: hidden;
}

.Content-ShoppingCart-ProductsList-Item-Quantity-Text {
  font-size: small;
  width: 4rem;
  margin-right: 1rem;
  text-align: center;
}

.Content-ShoppingCart-ProductsList-Item-Quantity-Number {
  width: 2rem;
}

.Content-ShoppingCart-ProductsList-Item-Cost {
  font-size: small;
  width: 2rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Content-ShoppingCart-ProductsList-Item-Delete {
  width: 1.25rem;
  margin-right: 1rem;
}

.Content-ShoppingCart-Receipt-Title {
  font-family: "Tommy personal use";
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.background-shop {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #fad1b0;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  margin-bottom: 1rem;
}
.Content-ShoppingCart-Receipt-Item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: "Tommy personal use";
}

.Content-ShoppingCart-Receipt-Item-Name {
  font-size: small;
  margin-right: auto;
  margin-left: 5%;
}

.Content-ShoppingCart-Receipt-Item-Quantity {
  font-size: smaller;
  margin-right: 5%;
}

.Content-ShoppingCart-Receipt-Item-Cost {
  font-size: smaller;
  margin-right: 5%;
}

.Content-ShoppingCart-Receipt-Delivery-Costs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: "Tommy personal use";
}

.Content-ShoppingCart-Receipt-Delivery-Costs-Name {
  font-size: small;
  margin-right: auto;
  margin-left: 5%;
}

.Content-ShoppingCart-Receipt-Delivery-Costs-Cost {
  font-size: smaller;
  margin-right: 5%;
}

.Content-ShoppingCart-Receipt-Line {
  background-color: black;
  width: 90%;
  height: 0.05rem;
  min-height: 0.05rem;
}

.Content-ShoppingCart-Receipt-Total {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: "Tommy personal use";
}

.Content-ShoppingCart-Receipt-Total-Text {
  font-size: medium;
  margin-right: auto;
  margin-left: 7.5%;
}

.Content-ShoppingCart-Receipt-Total-Cost {
  font-size: medium;
  margin-right: 5%;
}
.Content-Payment-Button {
  display: flex;
  justify-content: center;
}

.Content-Payment-Button-Item {
  background-color: #006d77;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Tommy personal use";
  font-size: medium;
  padding: 0.5rem 1rem;
  margin: 2rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Content-Payment-Button-Item:hover {
  background-color: #00abbb;
  color: white;
}

.Content-Payment {
  flex-direction: column;
  display: none;
}

.Content-Payment-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Content-tramitation-Container.Direction {
  width: 60%;
}
.Content-tramitation-Container.Payment {
  width: 30%;
}

.Content-Payment-Container-Method {
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.Content-Payment-Container-Info {
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.Content-Payment-Container-Method-Text {
  font-family: "Tommy personal use";
  font-size: smaller;
}

.Content-Payment-Container-Method-Label-Text {
  font-family: "Tommy personal use";
  font-size: smaller;
}

.Content-Payment-Container-Info-Label-Text {
  font-family: "Tommy personal use";
  font-size: smaller;
  margin-top: 1rem;
}

.Content-Payment-Container-Info-Field {
  font-family: "Tommy personal use";
  font-size: smaller;
  border-radius: 30px;
  padding-left: 0.5rem;
  padding-right: 80%;
}

.Content-Payment-Pay-Button {
  display: flex;
  justify-content: center;
}

.Content-Payment-Pay-Button-Item {
  background-color: #006d77;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Tommy personal use";
  font-size: medium;
  padding: 0.5rem 1rem;
  margin-bottom: 4rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Content-Payment-Pay-Button-Item:hover {
  background-color: #00abbb;
  color: white;
}
@media only screen and (max-width: 600px) {
  .Content-Payment-Container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Content-tramitation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Content-tramitation-Container {
    width: 90% !important;
    margin-bottom: 1rem;
  }
  .Content-tramitation-Container-Submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .Content-ShoppingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Content-ShoppingCart-ProductsList {
    width: 90%;
  }

  .Content-ShoppingCart-Receipt {
    width: 90%;
    margin-top: 1rem;
  }
}
