
.Content-Divided{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Profile-Container{
    width: 50%;
    display: inline;
}


.Profile-Options{
    display: inline;
    width: 50%;  
    height: 2rem;
    background-color: gray;
}


.Grid-Profile{
    display: grid;
    grid-template-columns: [x0] auto [x1] auto [x2];
    grid-template-rows: [y0] 15% [y1] 85% [y2];
    justify-content: start;
}

@media only screen and (max-width: 600px) {
    .Content-Divided {
      width: 100%;
      flex-direction: column;
    }

    .Profile-Container {
        width: 100%;
    }

    .Profile-Options {
    width: 100%;
    flex-direction: column;
    }
  }
  
  
.Profile-Image{
    grid-column: x0 / x1;
    grid-row: y0 / y2;
    width: 100%;
    background-image: url(../Images/User/ProfileImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-width: 6px;
    border-color: white;
    min-width: 8rem;
}
  
.Profile-UserInfo{
    grid-column: x1 / x2;
    grid-row: y1 / y2;
    width: 100%;
    background-color:white;
    border-color: white;
    font-family: 'Tommy personal use';
    border-style: solid;
    border-width: 6px;
    border-color: white;
}

.Profile-Settings{
    grid-column: x1 / x2;
    grid-row: y0 / y1;
    margin-left: 86%;
}

.Profile-UserInfo-Name{
    font-size: medium;
    padding-left: 10%;
}

.Profile-UserInfo-Email{
    font-size: smaller;
    padding-left: 10%;
}

.Profile-UserInfo-MainDirection{
    font-size: x-small;
    padding-left: 10%;
}

.Profile-Settings-Image{
    width: 30px;
}

.Profile-Settings-Container{
    overflow: hidden;
}

.Profile-Options{
width: 50%;  
height: 2rem;
background-color: gray;
}